@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: #9b59b6;
    font-family: "poppins", sans-serif;
    display: flex;
    flex-wrap: wrap;
    
    padding-top: 15rem;
}

h2{
    font-size: 3rem;
    color: #f4f6f7;
    position: absolute;
    top: 7rem;
    left: 4rem;
}

.btn_add{
    position: fixed;
    top: 12rem;
    left: 4rem;
    outline: none;
    border: none;
    background: #8e44ad;
    color: #fff;
    padding: 0.6rem 2rem;
    margin-bottom: 8rem 0;
    font-family: inherit;
    border-radius: 30px;
    font-size: 1 rem;
    cursor: pointer;
}

.note-wrapper{
    background: #fff;
    box-shadow: 0 0 10px 4px rgba(0,0,0,0.1);
    width: 400px;
    height: 250px;
    font-size: 1.2rem;
    margin: 30px 0 0 3.8rem;
}

.note-wrapper .operations{
    background: #5b2c6f;
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
}

.note-wrapper .operations button{
    background: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 1.2rem;
    margin-left: 0.7rem;
}

.note-wrapper textarea{
    outline: none;
    font-family: inherit;
    font-size: 1.2rem;
    width: 100%;
    height: 250px;
    padding: 20px;
    resize: none;
    border: none;
}

.main{
    padding: 20px;
}

.hidden{
    display: none;
}